 /* reset default style of browser  */

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 body {
     font-family: sans-serif
 }

 .main-app {

     min-width: 600px;

     margin: 40px auto;
     max-width: 400px;
     border: 1px solid gray;

     padding: 20px 20px;
     border-radius: 5px;

 }

 #title,
 input,
 #city {
     width: 90%;
     text-align: center;
     margin-bottom: 10px;
 }

 input {
     height: 30px;
     box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
     border: 2px solid #c4c4c4;
     border-radius: 5px;
     outline: none;
 }

 .information {
     width: 100%;

 }

 .weather {
     border: 1px solid #c4c4c4;
     box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
     text-align: center;
     min-height: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


 }

 .information {
     opacity: 0;
     display: grid;
     grid-template-columns: repeat(2, 1fr);

     align-items: center;
     gap: 10px;
 }

 p {

     font-weight: bold;
 }